@model Api.Modules.AccessControl.Persistence.Entities.Authorization.UserAttribute

@{
    ViewData["Title"] = "User Attribute Details";
}

<h2>User Attribute Details</h2>

<div>
    <h4>User Attributes for @Model.UserId</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col-sm-9">
            <code>@Html.DisplayFor(model => model.UserId)</code>
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.WorkstreamId)
        </dt>
        <dd class="col-sm-9">
            @if (!string.IsNullOrEmpty(Model.WorkstreamId))
            {
                <span class="badge bg-primary">@Model.WorkstreamId</span>
            }
            else
            {
                <span class="text-muted">Not Set</span>
            }
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AttributesJson)
        </dt>
        <dd class="col-sm-9">
            @if (!string.IsNullOrEmpty(Model.AttributesJson))
            {
                <pre class="bg-light p-3 rounded"><code>@Model.AttributesJson</code></pre>
            }
            else
            {
                <span class="text-muted">No Attributes</span>
            }
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ModifiedAt)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ModifiedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
